In [1]:
sc.master

'local[*]'

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
sc = spark.sparkContext

path = "/CA2/ProjectTweets.csv"

df = spark.read.csv(path)

In [5]:
df.show()

+---+----------+--------------------+--------+---------------+--------------------+
|_c0|       _c1|                 _c2|     _c3|            _c4|                 _c5|
+---+----------+--------------------+--------+---------------+--------------------+
|  0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|  1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
| 10|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|
| 11|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|
| 12|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|
| 13|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|
| 14|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|
| 15|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
| 16|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|
| 17|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |
| 18|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|
| 19|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
+---+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

In [12]:
df = df.withColumnRenamed(df.columns[0],"row").withColumnRenamed(df.columns[1],"id").withColumnRenamed(df.columns[2],"date").withColumnRenamed(df.columns[3],"query").withColumnRenamed(df.columns[4],"handle").withColumnRenamed(df.columns[5],"tweet")

In [13]:
df.show()

+---+----------+--------------------+--------+---------------+--------------------+
|row|        id|                date|   query|         handle|               tweet|
+---+----------+--------------------+--------+---------------+--------------------+
|  0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|  1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
| 10|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|
| 11|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|
| 12|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|
| 13|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|
| 14|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|
| 15|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
| 16|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|
| 17|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |
| 18|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|
| 19|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
+---+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

In [105]:
keyword = "twitter"

In [106]:
from pyspark.sql.functions import col

In [108]:
twitter_df = df.filter(col("tweet").contains(keyword))
twitter_df.show()

+----+----------+--------------------+--------+---------------+--------------------+
| row|        id|                date|   query|         handle|               tweet|
+----+----------+--------------------+--------+---------------+--------------------+
|   9|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
| 224|1467871661|Mon Apr 06 22:35:...|NO_QUERY|       ciairuhh|I miss you twitte...|
| 231|1467872181|Mon Apr 06 22:35:...|NO_QUERY|         admdrw|@charlietm I know...|
| 562|1467951568|Mon Apr 06 22:57:...|NO_QUERY|         spcake|@chordsy - why am...|
| 611|1467966271|Mon Apr 06 23:02:...|NO_QUERY|        leelaaa|finding it really...|
| 680|1467983247|Mon Apr 06 23:06:...|NO_QUERY|      MichaelPe|@FollowSavvy I ne...|
| 700|1467986284|Mon Apr 06 23:07:...|NO_QUERY|Christiansegall|trying to figure ...|
| 725|1467992696|Mon Apr 06 23:09:...|NO_QUERY|      pop_corn_|I feel like I am ...|
| 730|1467993829|Mon Apr 06 23:09:...|NO_QUERY|       jmbirney|I reaaly miss joh...|
| 820|1468013368|Mon Apr 06 23:15:...|NO_QUERY|    JaniceMyNig|Haha not even yo....|
| 842|1468020159|Mon Apr 06 23:17:...|NO_QUERY|    SpazOfDrool|just found out th...|
| 989|1468053611|Mon Apr 06 23:28:...|NO_QUERY|    mariejamora|@hellobebe I also...|
|1071|1468074597|Mon Apr 06 23:34:...|NO_QUERY|        PeterHC|Used the term &qu...|
|1084|1468076724|Mon Apr 06 23:35:...|NO_QUERY|   RebeccaLange|@sarahprout tweet...|
|1128|1468087595|Mon Apr 06 23:38:...|NO_QUERY|        rstolan|@brendamew2 no ar...|
|1145|1468094825|Mon Apr 06 23:41:...|NO_QUERY|      marie_660|too cold and tire...|
|1167|1468099029|Mon Apr 06 23:42:...|NO_QUERY|         webmyc|@twitter please f...|
|1284|1468122378|Mon Apr 06 23:50:...|NO_QUERY|  TrueFollowers|@powerpoole some ...|
|1348|1468133469|Mon Apr 06 23:53:...|NO_QUERY|        Samm_xo|@garretjiroux do ...|
|1395|1468144341|Mon Apr 06 23:57:...|NO_QUERY|  AshleyMoore21|re newing my twit...|
+----+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

In [109]:
twitter_df.createOrReplaceTempView("twitter")

In [110]:
twitter_df_tweet = spark.sql("SELECT tweet from twitter WHERE row = 989")

In [111]:
twitter_df_tweet.show(truncate = False)

+------------------------------------------------------------------------------------------------------------------------------+
|tweet                                                                                                                         |
+------------------------------------------------------------------------------------------------------------------------------+
|@hellobebe I also send some updates in plurk but i upload photos on twitter!  you didnt see any of my updates on plurk? Zero? |
+------------------------------------------------------------------------------------------------------------------------------+

In [112]:
twitter_df.count()

27272

In [113]:
output_path = "/twitter_df.csv"

In [114]:
twitter_df.write.csv(output_path, header = True, mode = 'overwrite')